.weapon {text-decoration: none;}
input, textarea, select {font-family: Verdana, Arial, sans-serif;font-size: 11px;}
input.textbox, input.checkbox {border-width: 1px;}
input.submit {height: 22px;}
input.smallsubmit {font-size: 9px;height: 20px;}
tt { font-family: Verdana, Arial, Helvetica, sans-serif, fixed; font-size: 12px;}

BODY {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }

TD {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;} 
h2 {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;} 
h1 {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;} 
h3 {font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;}

.helpwindow {
  position:fixed;
  top:10px;
  left:10px;
  width:95%;
  visibility:hidden;
  border:thin solid red;
  background-color:#AAAAAA;
  color:#FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif, fixed;
  font-size: 11px; 
}

table#accordion
{
	border-collapse: collapse;
}

table#accordion tr.toggler td
{
	border-width: 0 0 0px 1px; 
}

#footer {
    text-align: center; 
}

